html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	background: #CCFFCC;
	font-family: 'Happy Monkey', cursive;
}

h1 {
	font-size: 48px;
	text-align: center;
	padding: 1%;
}

h2 {
	font-size: 36px;
	text-align: center;
	padding: 1%;
}

#wrapper {
	width: 75%;
	margin: 0 auto;
}

#header {
	background: teal;
	color: white;
	border: 1px solid silver;
	padding: 0 3%;
	height: 130px;
}

#content {
	border: 2px dotted silver;
	padding: 2%;
	width: 65%;
	float: right;
	text-align: center;
	background: #CCCCFF;
}

.gallery {
	border: 1px solid silver;
	padding: 2%;
	width: 90%;
	position: relative;
	margin: 0 auto;
	background: gray;
}

.gallery img {
	width: 100%;
}

.gallery p {
	position: absolute;
	bottom: 3%;
	right: 5%;
	background: rgba(0,0,0,.5);
	padding: 5px;
	color: white;
}

#sidebar {
	background: #6E2E83;
	color: white;
	border: 2px solid silver;
	padding: 2%;
	width: 20%;
	float: left;
}

#sidebar li a:link {
	background: teal;
	padding: 5px 10px;
	display: inline-block;
	margin-bottom: 10px;
	border: 1px solid silver;
	border-radius: 5px;
}

#sidebar li a:visited {
	color: purple;
	border: 1px solid white;
}

#sidebar li a:hover {
	background: magenta;
	border: 1px dashed silver;
	color: silver;
}

#sidebar li a:active {
	background: yellow;
}

#footer {
	background: black;
	color: silver;
	border-top: 3px silver;
	text-align: right;
	padding: 5px;
	clear: both;
}